// Colors
$color-primary: #000000;
$color-secondary: #47acad;
$color-tertiary: #000000;
$color-quaternary: #6e9e36;

$color-grey-light: #FFFAFA;
$color-grey-dark: #333;

$color-hover: #edf5f8;
$color-link-hover: #ccc;

$color-paragraph: #4a4a4a;

$color-green: #34eb49;

$color-white: #F0FFFF;
$color-black: #FAF0E6;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;