.listings {
    &__form {
        margin-top: 4rem;
    }

    &__listings {
        margin-top: 6rem;
        margin-bottom: 4rem;
    }

    &__pagination {
        margin-bottom: 6rem;
    }
}

.styled_error {
    text-align: center;
    border: 1px solid red;
    background-color: white;
    img {
        margin: 0 auto;
    }
    h3{
        color: red;
        font-size: 30px;
    }
    a {
        color: red;
    }
    .phone_number{
        cursor: pointer;
    }
}